<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="Css/Contato.css">
</head>
<body>
    <header>
        <h1>Contato</h1>

        <hr size="15px" color="black">

        <section>
            <nav>
                <a href="index.html">Principal </a>  |
                <a href="sobre.html">Saiba mais</a>
            </nav>
        </section>
    </header>

    <section>
        <article id="contato">
            <h2>Preencha abaixo para saber mais!</h2>
        </article>
        <form>
            <label>Email: </label>
            <input type="email" name="email" required>
            <label>Nome completo: </label>
            <input type="text" name="Nome completo" required>
            <label>Número: </label>
            <input type="number" name="Número" required>
            <strong><input type="submit" value="Enviar" id="submit" required></strong>
        </form>
    </section>


    <footer id="Rodapé" > <!--Rodapé da página -->
        <strong>
            <article>
                Todos os direitos são reservados.
            </article>
        </strong>
    </footer>

</body>
</html>