<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Academia</title>
    <link rel="stylesheet" href="Css/Estilo.css">
</head>
<body>
    <header>
        <h1>Principal</h1>  <!--Começo do cabeçalho-->

        <hr size="15px" color="black"> <!-- Barra do site-->

       <section>
        <nav>
            <a href="sobre.html"> Saiba mais </a> |
            <a href="contato.html"> Contato </a>    <!--Links-->
        </nav>
       </section>
    </header>

    <section>
        <figure id="imagem">
            <img src="img/academia.jpg" alt="academia" class="img"> <!-- Imagens tela ínicio-->
            <img src="img/imagem2.jpg" alt="imagem2" class="img">
        </figure>
    </section>

    <section id="Texto">
            <h2>Introdução</h2>
            <p>Nosso projeto é dedicado a ajudar iniciantes na jornada da musculação, oferecendo apoio, orientações e dicas valiosas para um treino eficaz e seguro. Sabemos que começar pode ser desafiador, por isso, nosso foco é fornecer informações de qualidade, com base em boas práticas, para que cada membro alcance seus objetivos com confiança. Aqui, você encontrará dicas sobre exercícios, alimentação, recuperação e motivação, sempre com o objetivo de proporcionar uma experiência de treino saudável e eficiente. Estamos juntos para transformar cada desafio em uma conquista, garantindo que todos os iniciantes possam evoluir de maneira consistente e sustentável</p>
    </section>

        <footer id="Rodapé" > <!--Rodapé da página -->
            <strong>
                <article>
                    Todos os direitos são reservados.
                </article>
            </strong>
        </footer>
</body>
</html>